
@{
    ViewBag.Title = "SkillStatistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        #loading {
            display: none;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            filter: alpha(opacity=40);
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2000;
        }
        .hang {
            margin-left: 20px!important;
            margin-right: 20px!important;
        }
    </style>
}
<div id="loading">
    <img src="~/img/loadingimg/loading3.gif" style="margin-left: 40%; margin-top: 200px; width: 150px; height: 150px;" />
</div>
<h3 class="hang">岗位统计</h3>
<div class="row hang">
    <label class="col-md-1">专业方向：</label>
    <select id="dire" class="input-sm col-md-1">
        <option value="NET">NET</option>
        <option value="Java">JAVA</option>
        <option value="企信">企信</option>
        <option value="大数据">大数据</option>
        <option value="Web前端">Web前端</option>
        <option value="网销">网销</option>
    </select>
</div>
<div id="main" style="width: 800px; height: 350px;margin-left: 20%;"></div>
<div class="row hang">
    <table id="ListTb" class="table table-bordered">
        <tr>
            @*<th>标签编号</th>*@
            <th>公司编号</th>
            <th>公司名称</th>
            <th>公司所在城市</th>
            <th>公司一级行业</th>
            <th>公司二级行业</th>
        </tr>
    </table>
    <div class="pagebox" style="height:30px;" id="box"></div>
    <script id="dataList" type="text/x-jquery-tmpl">
        {{each  Data}}
        <tr>
            <td>${CompanyNo}</td>
            <td>${CompanyName}</td>
            <td>${City}</td>
            <td>${CompanyType}</td>
            <td>${CompanyDetailType}</td>
        </tr>
        {{/each}}
    </script>
</div>
@section scripts{
    <script src="~/js/tmpl/jquery.tmpl.js"></script>
    <script src="~/js/common/common.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var myChart;
            var ps = {
                direction:"",
                draw: function (value) {
                    $.ajax({
                        url: "/Position/GetPositionStatics?direction=" + value,
                        data: {},
                        type: "get",
                        dataType: "json",
                        beforeSend: function () {
                            $("#loading").show();
                        },
                        success: function (result) {
                            data = result;
                            if (myChart != null && myChart != "" && myChart != undefined) {
                                myChart.dispose();
                            }
                            myChart = echarts.init(document.getElementById('main'));
                            myChart.setOption({
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    type: 'scroll',
                                    orient: 'vertical',
                                    right: 10,
                                    top: 20,
                                    bottom: 20,
                                    data: data.legendData,
                                    selected: data.selected
                                },
                                series: [
                                    {
                                        name: '访问来源',
                                        type: 'pie',
                                        radius: '75%',
                                        data: data,
                                    }
                                ]
                            });
                            myChart.on('click', function (params) {
                                _.options.url = "/Position/GetPositionRelateCompany?position=" + params.name + '&direction=' + ps.direction;
                                _.ajaxData(_.options, function (result) {
                                    _.render(result);
                                })
                            });
                        },
                        complete: function () {
                            $("#loading").hide();
                        }
                    })
                }
            }
            ps.draw("NET");
            ps.direction = "NET";
            $("#dire").change(function () {
                $("#main").empty();
                var value = $(this).val();
                ps.direction = value;
                ps.draw(value);
            });

        })
    </script>
}

