@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 内容头部 /-->
<!-- 正文区域 -->
@section styles{
    <style>
        #loading {
            display: none;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            filter: alpha(opacity=40);
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2000;
        }
    </style>
    <link href="~/js/page/paging.css" rel="stylesheet" />
}
    <section class="content">
        <div id="loading">
            <img src="~/img/loadingimg/loading3.gif" style="margin-left: 40%; margin-top: 100px; width: 350px; height: 350px;" />
        </div>
        <div class="">
            @*<div class="box-header with-border">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                    <li><a href="#">调查管理</a></li>
                    <li class="active">问卷列表</li>
                </ol>
            </div>*@
            <div class="box-body">
                <div class="pull-left">
                    @*<div class="form-group form-inline">
                        <div class="btn-group">
                            <a href="AddUser.aspx" class="btn btn-default" target="_self">添加用户</a><br />
                        </div>
                    </div>*@
                </div>
                <div class="box-tools pull-right" style="margin-bottom: 17px;">
                    <div class="has-feedback">
                        <ul>
                            <li><label>批次：</label><input type="text" id="TextBox_Batch" class="form-control input-sm searchInput" /></li>
                            <li><label>项目部：</label><input type="text" id="TextBox_ProjectPart" class="form-control input-sm searchInput" />  <asp:TextBox ID="TextBox_CreateTime" CssClass="form-control input-sm searchInput" runat="server"></asp:TextBox></li>
                            <li>
                                <label>方向：</label> <select id="DropDownList_Direction" class="form-control input-sm searchInput">
                                    <option value="-1">请选择</option>
                                </select>
                            </li>
                            <li><input type="button" value="查询" data-toggle="modal" data-target="#editModal" class="btn btn-default" /></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <table id="ListTb" class="table table-bordered">
                        <tr>
                            <th>编号</th>
                            <th>年级</th>
                            <th>批次</th>
                            <th>方向</th>
                            <th>项目部</th>
                            <th>人事经理</th>
                            <th>学生姓名</th>
                            <th>职位</th>
                            <th>企业名称</th>
                            <th>创建时间</th>
                            <th>调查类型</th>
                            <th>审批日志</th>
                            <th style="width:90px;text-align:center;" colspan="2">操作</th>
                            @*<th style="width:90px;">审核</th>*@
                        </tr>
                    </table>
                    <div class="pagebox" style="height:30px;" id="box"></div>
                    <script id="dataList" type="text/x-jquery-tmpl">
                        {{each  Data}}
                        <tr>
                            <td>${SurveyID}</td>
                            <td>${Year}</td>
                            <td>${Batch}</td>
                            <td>${Direction}</td>
                            <td>${ProjectName}</td>
                            <td>${PEM}</td>
                            <td>${StuName}</td>
                            <td>${PositionName}</td>
                            <td>${Company.CompanyName}</td>
                            <td>${CreateTime}</td>
                            <td><a href="#" type="auditlog" pid="${SurveyID}">审批日志</a></td>
                            {{if Type == 0}}
                            <td>已就业</td>
                            <td>
                                {{if CurrentRoleName == '学生' && AuditStatus == 0 }}
                                <a href="/Survey/UserIndex?id=${SurveyID}" type="edit" pid="${SurveyID}">编辑</a>
                                <a href="#" type="delete" pid="${SurveyID}">删除</a>
                                {{else}}
                                <a href="/Survey/UserIndex?id=${SurveyID}" type="show" pid="${SurveyID}">查看</a>
                                {{/if}}
                            </td>
                            {{else}}
                            <td>未就业</td>
                            <td>
                                {{if CurrentRoleName == '学生' && AuditStatus == 0}}
                                <a href="/Survey/StudentIndex?id=${SurveyID}" type="posiDelete" pid="${SurveyID}">编辑</a>
                                <a href="#" type="delete" pid="${SurveyID}">删除</a>
                                {{else}}
                                <a href="/Survey/StudentIndex?id=${SurveyID}" type="posiDelete" pid="${SurveyID}">查看</a>
                                {{/if}}
                            </td>
                            {{/if}}
                            {{if AuditStatus != 3 && CurrentRoleName != '学生'}}
                            <td>
                                {{if AuditStatus != 3 && CurrentRoleName == '教质经理'}}
                                <a href="#" type="replace" pid="${SurveyID}">指派</a>
                                {{/if}}
                                <a href="#" type="pass" pid="${SurveyID}">通过</a>
                                <a href="#" type="reject" pid="${SurveyID}">驳回</a>
                            </td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </section>
<div class="modal fade" id="replacePEMModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">替换PEM</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" style="width:570px">
                    <tr>
                        <td>PEM名字</td>
                        <td><input class="form-control" id="surveyID" style="display:none;"><input class="form-control" name="pem" id="pem"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" id="replaceSave" aria-hidden="true">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="auditLogModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">审批日志</h3>
            </div>
            <div class="modal-body">
                <table id="logTb" class="table table-bordered table-striped" style="width:570px">
                      <tr>
                          <th>时间</th>
                          <th>操作人</th>
                          <th>操作</th>
                      <tr>
                </table>
                <script id="logList" type="text/x-jquery-tmpl">
                    {{each Data}}
                    <tr>
                        <td>${AuditTime}</td>
                        <td>${AuditName}</td>
                        <td>${AuditState}</td>
                    </tr>
                    {{/each}}
                </script>
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-success" data-dismiss="modal" id="replaceSave" aria-hidden="true">保存</button>*@
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/tmpl/jquery.tmpl.js"></script>
    <script src="~/js/page/paging.js"></script>
    <script src="~/js/common/common.js"></script>
    <script type="text/javascript" charset="utf-8">
        var survey = {
            queryList: function () {
                _.queryList("/Survey/QueryPageData", { "PageIndex": 0, "PageSize": 12, "Entity": {} });
            }
        }
        $(document).ready(function () {
            //替换审批人
            $("#replaceSave").click(function () {
                _.options.url = "/Survey/ReplacePEMByID?id=" + $("#surveyID").val() + "&pem=" + $("#pem").val();
                _.ajaxData(_.options, function (result) {
                    survey.queryList();
                })
            })
            //操作按钮，审核
            $("#ListTb").on("click", "a", function ()
            {
                var id = $(this).attr("pid");
                var type = $(this).attr("type");
                if (type == "pass" || type == 'reject') {
                    var status = type == "pass" ? 1 : 2;
                    _.options.url = "/Survey/Audit?surveyID=" + id + "&type=" + status;
                    _.ajaxData(_.options, function (result) {
                        swal({
                            title: "审核成功！",
                            showConfirmButton: false,
                            type: "success",
                            showCancelButton: false,
                            timer: 2000
                        })
                        survey.queryList();
                    });
                }
                //替换人事经理
                if (type == "replace") {
                    $("#surveyID").val(id);
                    $("#replacePEMModal").modal('show');
                }
                //显示日志
                if (type == 'auditlog') {
                    _.options.url = "/Survey/GetAuditLogListByID?surveyID=" + id;
                    _.ajaxData(_.options, function (result) {
                        $("#logTb tr:gt(0)").remove();
                        $("#logList").tmpl(result).appendTo('#logTb');
                        $("#auditLogModal").modal('show');
                    })
                }
                //删除调查表单
                if (type == 'delete') {
                    _.options.url = "/Survey/DeleteSurveyByID?id=" + id;
                    _.ajaxData(_.options, function (result) {
                        survey.queryList();
                    })
                }
            })
            survey.queryList();
        })
    </script>
}
