@{
    ViewBag.Title = "厚溥就业调查问卷";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/css/bwizard.min.css" rel="stylesheet" />*@
<link href="~/css/bwizard.css" rel="stylesheet" />
@section styles{
    <style>
        #loading {
            display: none;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            filter: alpha(opacity=40);
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2000;
        }
    </style>
}
<div class="container" id="main_div" stype="@ViewBag.Type" style="background: #78dccafa;">
    <h2>厚溥就业学生信息调查</h2>
    <div id="loading">
        <img src="~/img/loadingimg/loading3.gif" style="margin-left: 40%; margin-top: 100px; width: 350px; height: 350px;" />
    </div>
    <div id="wizard" style="display:none;">
        <ol>
            <li>学生基本信息</li>
            <li>填写企业信息</li>
            <li>填写就业信息</li>
            <li>填写项目信息</li>
            <li>公司岗位招聘信息</li>
            <li>公司正在招聘岗位</li>
        </ol>

        <div id="div_basic">

        </div>
        <script id="basic" type="text/x-jquery-tmpl">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label class="control-label col-md-3">姓名</label><span class="col-md-8"><input type="text" name="StuName" value="${Form.StuName}" class="form-control "></span>
                </div>
                <div class="col-md-5 form-group">
                    <label class="col-md-3 control-label">项目部</label><span class="col-md-8"><input type="text" name="ProjectName" value="${Form.ProjectName}" class="form-control "></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label class="control-label col-md-3">年份</label><span class="col-md-8">
                        <select name="Year" class="form-control input-md">
                            {{each ExtraDatas.Years}}
                            {{if Form.Year == Value}}
                            <option selected="selected" value="${Value}">${Text}</option>
                            {{else}}
                            <option value="${Value}">${Text}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                        @*<input type="text" name="Year" value="${Form.Year}" class="form-control ">*@
                    </span>
                </div>
                <div class="col-md-5 form-group">
                    <label class="col-md-3 control-label">方向</label><span class="col-md-8">
                        <select name="Direction" class="form-control input-md">
                            {{each ExtraDatas.Directions}}
                            {{if Form.Direction == Value}}
                            <option selected="selected" value="${Value}">${Text}</option>
                            {{else}}
                            <option value="${Value}">${Text}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                        @*<input type="text" name="Direction" value="${Form.Direction}" class="form-control ">*@
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label class="control-label col-md-3">学校</label><span class="col-md-8"><input type="text" name="School" value="${Form.School}" class="form-control "></span>
                </div>
                <div class="col-md-5 form-group">
                    <label class="control-label col-md-3">批次</label><span class="col-md-8"><input type="text" name="Batch" value="${Form.Batch}" class="form-control "></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label class="col-md-3 control-label">手机号</label><span class="col-md-8"><input type="text" name="Phone" value="${Form.Phone}" class="form-control "></span>
                </div>

            </div>
        </script>
        <div id="div_enterprise">
            <script id="enterprise" type="text/x-jquery-tmpl">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">城市</label><span class="col-md-8">
                            <select name="Company.City" class="form-control input-md">
                                {{each ExtraDatas.Citys}}
                                {{if Form.Company.City == Value}}
                                <option selected="selected" value="${Value}">${Text}</option>
                                {{else}}
                                <option value="${Value}">${Text}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                            @*<input type="text" name="Company.City" value="${Form.Company.City}" class="form-control ">*@
                        </span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-md-3 control-label">企业名</label><span class="col-md-8"><input type="text" name="Company.CompanyName" value="${Form.Company.CompanyName}" class="form-control "></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">企业编号</label><span class="col-md-8"><input type="text" name="CompanyNo" value="${Form.CompanyNo}" class="form-control "></span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-md-3 control-label">所属行业</label>
                        <span class="col-md-8">
                            @*<input type="text" name="Company.CompanyType" value="${Form.Company.CompanyType}" class="form-control ">*@
                            <select name="Company.CompanyType" class="form-control input-md">
                                {{each ExtraDatas.Industrys}}
                                {{if Form.Company.CompanyType == Value}}
                                <option selected="selected" value="${Value}">${Text}</option>
                                {{else}}
                                <option value="${Value}">${Text}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        <label class="control-label col-md-3" style=" width: 12%;">公司介绍</label>
                        <span class="col-md-8 " style="width:83%;"><textarea class="form-control" name="Company.CompanyDesc" cols="250" rows="5">${Form.Company.CompanyDesc}</textarea></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">部门</label><span class="col-md-8"><input type="text" name="DepartName" value="${Form.DepartName}" class="form-control "></span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-md-3 control-label">岗位</label><span class="col-md-8"><input type="text" name="PositionName" value="${Form.PositionName}" class="form-control "></span>
                    </div>
                </div>
            </script>
        </div>
        <div id="div_salary">
            <script id="salary" type="text/x-jquery-tmpl">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">试用期薪资</label><span class="col-md-8"><input type="number" min="2000" name="WagesOfPeriod" value="${Form.WagesOfPeriod}" class="form-control "></span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-md-3 control-label">转正薪资</label><span class="col-md-8"><input type="number" min="2000" name="WagesOfFull" value="${Form.WagesOfFull}" class="form-control "></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">现在薪资</label><span class="col-md-8"><input type="number" min="2000" name="WagesOfReal" value="${Form.WagesOfReal}" class="form-control "></span>
                    </div>
                </div>
            </script>
        </div>
        <div id="div_project">
            <div class="row">
                <table id="projectTb" class="table table-bordered">
                    <tr>
                        <th>项目名称</th>
                        <th>项目类型</th>
                        <th>项目描述</th>
                        <th>操作</th>
                        @*<th>开始时间</th>
                        <th>结束时间</th>*@
                    </tr>
                </table>
            </div>
            <script id="projectC" type="text/x-jquery-tmpl">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">项目名称</label><span class="col-md-8">
                            <input type="text" id="projectName" class="form-control ">
                        </span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-md-3 control-label">项目类型</label><span class="col-md-8">
                            @*<input type="text" class="form-control ">*@
                            <select id="projectType" class="form-control input-md">
                                {{each ExtraDatas.ProjectTypes}}
                                <option value="${Value}">${Text}</option>
                                {{/each}}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        <label class="control-label col-md-3" style=" width: 12%;">项目介绍</label>
                        <span class="col-md-8 " style="width:83%;"><textarea class="form-control" cols="250" id="projectdesc" rows="5"></textarea></span>
                    </div>
                </div>
                <input type="button" id="addProject" class="btn btn-default" style="width: 100px;margin-left: 40%;" value="添加" />
            </script>
            @*<div class="row" style="display:none">
                <div class="col-md-5 form-group">
                    <label class="control-label col-md-3">开始时间</label><span class="col-md-8"><input type="text" class="form-control datetime"></span>
                </div>
                <div class="col-md-5 form-group">
                    <label class="control-label col-md-3">结束时间</label><span class="col-md-8"><input type="text" class="form-control datetime"></span>
                </div>
            </div>*@
        </div>
        <div id="div_position">
            <div class="row">
                <table id="positionTb" class="table table-bordered">
                    <tr>
                        <th>岗位名称</th>
                        <th>方向</th>
                        <th>工作年限</th>
                        <th>岗位描述</th>
                        <th>操作</th>
                    </tr>
                </table>
            </div>
            <script id="positionC" type="text/x-jquery-tmpl">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">岗位名称</label><span class="col-md-8">
                            <input type="text" id="positionName" class="form-control ">
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-md-3 control-label">方向</label><span class="col-md-8">
                            @*<input type="text" class="form-control ">*@
                            <select id="positionDirection" class="form-control input-md">
                                {{each ExtraDatas.Directions}}
                                <option value="${Value}">${Text}</option>
                                {{/each}}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">工作年限</label><span class="col-md-8">
                            <input type="text" id="positionYears" class="form-control ">
                        </span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">来源</label><span class="col-md-8">
                            @*<input type="text" class="form-control ">*@
                            <select id="positionSource" class="form-control input-md">
                                {{each ExtraDatas.Source}}
                                <option value="${Value}">${Text}</option>
                                {{/each}}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        <label class="control-label col-md-3" style=" width: 12%;">岗位描述</label>
                        <span class="col-md-8 " style="width:83%;">
                            <textarea class="form-control" id="positionDesc" cols="250" rows="5"></textarea>
                        </span>
                    </div>
                </div>
                <input type="button" id="addPosition" class="btn btn-default" style="width: 100px;margin-left: 40%;" value="添加" />
            </script>
        </div>
        <div id="div_job">
            <div class="row">
                <table id="jobTb" class="table table-bordered">
                    <tr>
                        <th>岗位名称</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </tr>
                </table>
            </div>
            <script id="jobC" type="text/x-jquery-tmpl">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">岗位名称</label><span class="col-md-8">
                            @*<input type="text" id="jobName" class="form-control ">*@
                            <select id="positionList" class="form-control input-md"></select>
                        </span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">招聘人数</label><span class="col-md-8">
                            @*<input type="text" class="form-control ">*@
                            <select id="jobCount" class="form-control input-md">
                                {{each ExtraDatas.Count}}
                                <option value="${Value}">${Text}</option>
                                {{/each}}
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">开始时间</label><span class="col-md-8 "><input type="text" id="jobBeginTime" class="form-control datetime"></span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">结束时间</label><span class="col-md-8"><input type="text" id="jobEndTime" class="form-control datetime"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label class="control-label col-md-3">平均薪资</label><span class="col-md-8"><input type="text" id="avgMoney" class="form-control "></span>
                    </div>
                    <input type="button" id="addjob" class="btn btn-default" style="width: 100px;" value="添加" />
                </div>
                <input type="button" id="save" class="btn btn-primary" style="width: 200px;margin-left: 40%;" value="提交就业信息调查" />
            </script>
        </div>
    </div>
</div>
<script id="project" type="text/x-jquery-tmpl">
    {{each  Form.Project}}
    <tr>
        <td>${ProjectName}</td>
        <td>${ProjectType}</td>
        <td>${ProjectDesc}</td>
        <td><a href="#" class="proDelete" pname="${ProjectName}">删除</a></td>
        @*<td>${BeginTime}</td>
        <td>${EndTime}</td>*@
    </tr>
    {{/each}}
</script>
<script id="job" type="text/x-jquery-tmpl">
    {{each  Form.ActiveJobs}}
    <tr>
        <td>${JobName}</td>
        <td>${StartTime}</td>
        <td>${EndTime}</td>
        <td><a href="#" class="jobDelete" pname="${JobName}">删除</a></td>
    </tr>
    {{/each}}
</script>
<script id="position" type="text/x-jquery-tmpl">
    {{each  Form.Position}}
    <tr>
        <td>${PositionName}</td>
        <td>${PositionType}</td>
        <td>${Years}</td>
        <td>${PositionDesc}</td>
        <td><a href="#" class="posiDelete" pname="${PositionName}">删除</a></td>
    </tr>
    {{/each}}
</script>
@section scripts{
    @*<script src="~/js/step/bwizard.min.js"></script>*@
    <script src="~/js/tmpl/jquery.tmpl.js"></script>
    <script src="~/js/tmpl/jquery.tmplPlus.js"></script>
    <script src="~/js/step/bwizard.js" charset="utf-8"></script>
    <script src="~/js/app.survey/survey.js"></script>
    @*<script type="text/javascript" charset="utf-8">
        </script>*@
}
