
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Home</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="~/js/login/style.css" rel="stylesheet" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.js"></script>
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <!-- //web-fonts -->
</head>

<body>
    <!-- bg effect -->
    <div id="bg">
        <canvas></canvas>
        <canvas></canvas>
        <canvas></canvas>
    </div>
    <!-- //bg effect -->
    <!-- title -->
    <h1>就业调查管理系统</h1>
    <!-- //title -->
    <!-- content -->
    <div class="sub-main-w3">
        <form action="#">
            <h2>
                登录
                <i class="fa fa-long-arrow-down"></i>
            </h2>
            <div class="form-style-agile">
                <label>
                    <i class="fa fa-user"></i>
                    用户名
                </label>
                <input  name="Name" id="userName" type="text" value="" required="">
            </div>
            <div class="form-style-agile">
                <label>
                    <i class="fa fa-unlock-alt"></i>
                    密码
                </label>
                <input  name="Password" id="password" type="password" required="">
            </div>
            <!-- checkbox -->
            <div class="wthree-text">
                <ul>
                    @*<li>
                        <label class="anim">
                            <input type="checkbox" class="checkbox" required="">
                            <span>记住密码</span>
                        </label>
                    </li>
                    <li>
                        <a href="#">忘记密码?</a>
                    </li>*@
                </ul>
            </div>
            <!-- //checkbox -->
            <input type="button" id="loginBtn" value="登录">
        </form>
    </div>
    <!-- //content -->
    <!-- copyright -->
    <div class="footer">
        <p>Copyright &copy; 2020.河南厚溥教育有限公司 All rights reserved.</p>
    </div>
    <!-- //copyright -->
    <!-- Jquery -->
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <!-- //Jquery -->
    <!-- effect js -->
    <script src="~/js/login/canva_moving_effect.js"></script>
    <!-- //effect js -->
    <script>
        $(document).ready(function () {
            $("#loginBtn").click(function () {
                var username = $("#userName").val();
                var password = $("#password").val();
                $.ajax({
                    url: "/Login/LoginIn",
                    type: "post",
                    data: { "username": username, "password": password },
                    dataType: "json",
                    success: function (result) {
                        if (result.state == "200") {
                            window.location.href = "/Main/Index";
                        } else {
                            swal("",result.data+'',"info");
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>
