USE [SurveyDB]
GO
/****** Object:  Table [dbo].[ActiveJobs]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveJobs](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](50) NULL,
	[JobType] [nvarchar](20) NULL,
	[JobDesc] [nvarchar](2000) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[SurveyID] [int] NULL,
	[PositionID] [int] NULL,
	[Count] [int] NULL,
	[AvageMoney] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ACTIVEJOBS] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[CompanyType] [nvarchar](20) NULL,
	[CompanyDesc] [nvarchar](4000) NULL,
	[Status] [int] NULL,
	[DepartName] [nvarchar](50) NULL,
	[City] [nvarchar](10) NULL,
	[CompanyNo] [varchar](50) NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[DepartName] [nvarchar](20) NULL,
	[DepartDesc] [nvarchar](2000) NULL,
	[CreateTime] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Value] [nvarchar](100) NULL,
	[Type] [nvarchar](20) NULL,
	[Status] [int] NULL,
	[ParentID] [int] NULL,
 CONSTRAINT [PK_DICTIONARY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](20) NULL,
	[MenuType] [nvarchar](20) NULL,
	[Status] [int] NULL,
	[ParentID] [int] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_MENUS] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyID] [int] NULL,
	[PositionName] [nvarchar](20) NULL,
	[PositionType] [nvarchar](20) NULL,
	[PositionDesc] [nvarchar](2000) NULL,
	[Status] [int] NULL,
	[CompanyID] [int] NULL,
	[Source] [nvarchar](50) NULL,
 CONSTRAINT [PK_POSITION] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyID] [int] NULL,
	[ProjectName] [varchar](100) NULL,
	[ProjectType] [varchar](10) NULL,
	[ProjectTypeID] [int] NULL,
	[ProjectDesc] [varchar](3000) NULL,
	[BeginTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_ROLEMENUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NULL,
	[RoleDesc] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[AlterTime] [datetime] NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SkillTag]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillTag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](20) NULL,
	[TagType] [nvarchar](20) NULL,
	[CourseName] [nvarchar](20) NULL,
	[CourseID] [int] NULL,
	[Direction] [nvarchar](20) NULL,
	[DirectionID] [int] NULL,
	[Creatime] [datetime] NULL,
 CONSTRAINT [PK_SKILLTAG] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SkillTags]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillTags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TagID] [int] NULL,
	[PositionID] [int] NULL,
 CONSTRAINT [PK_SKILLTAGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[StuNo] [int] IDENTITY(1,1) NOT NULL,
	[StuName] [nvarchar](50) NULL,
	[ClassNo] [varchar](50) NULL,
	[City] [nvarchar](10) NULL,
	[Phone] [varchar](13) NULL,
	[Address] [nvarchar](200) NULL,
	[WagesOfPeriod] [decimal](18, 0) NULL,
	[WagesOfFull] [decimal](18, 0) NULL,
	[WagesOfReal] [decimal](18, 0) NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[AlterTime] [datetime] NULL,
	[CurrentCompanyNo] [varchar](50) NULL,
	[Year] [int] NULL,
	[Batch] [varchar](20) NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[StuNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentTags]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StuNo] [int] NULL,
	[TagID] [int] NULL,
	[SelfPoint] [int] NULL,
	[TeacherPoint] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_STUDENTTAGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyModel]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SurveyModel](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyTickNumber] [varchar](50) NULL,
	[StuNo] [int] NULL,
	[CompanyID] [int] NULL,
	[StuName] [nvarchar](10) NULL,
	[CompanyNo] [nvarchar](64) NULL,
	[WagesOfPeriod] [decimal](18, 0) NULL,
	[WagesOfFull] [decimal](18, 0) NULL,
	[WagesOfReal] [decimal](18, 0) NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Year] [int] NULL,
	[Batch] [nvarchar](50) NULL,
	[Direction] [nvarchar](10) NULL,
	[ProjectName] [nvarchar](50) NULL,
	[Phone] [nchar](14) NULL,
	[CorworkPhone] [nchar](14) NULL,
	[PositionName] [nvarchar](50) NULL,
	[AuditName] [nvarchar](50) NULL,
	[AuditStatus] [int] NULL,
	[School] [nvarchar](50) NULL,
	[DepartName] [nvarchar](50) NULL,
 CONSTRAINT [PK_SURVEY] PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_USERROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019/11/19 21:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[NickName] [nvarchar](20) NULL,
	[ImageUrl] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[DepartID] [int] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ActiveJobs] ON 

INSERT [dbo].[ActiveJobs] ([JobID], [JobName], [JobType], [JobDesc], [StartTime], [EndTime], [SurveyID], [PositionID], [Count], [AvageMoney]) VALUES (1, N'工程师', N'NET', N'net 工程师', CAST(N'2019-11-14 19:46:32.470' AS DateTime), CAST(N'2019-11-14 19:46:32.470' AS DateTime), 3, NULL, NULL, NULL)
INSERT [dbo].[ActiveJobs] ([JobID], [JobName], [JobType], [JobDesc], [StartTime], [EndTime], [SurveyID], [PositionID], [Count], [AvageMoney]) VALUES (2, N'工程师', N'NET', N'net 工程师', CAST(N'2019-11-14 19:52:49.563' AS DateTime), CAST(N'2019-11-14 19:52:49.563' AS DateTime), 4, NULL, NULL, NULL)
INSERT [dbo].[ActiveJobs] ([JobID], [JobName], [JobType], [JobDesc], [StartTime], [EndTime], [SurveyID], [PositionID], [Count], [AvageMoney]) VALUES (3, N'工程师', N'NET', N'net 工程师', CAST(N'2019-11-14 19:55:46.133' AS DateTime), CAST(N'2019-11-14 19:55:46.133' AS DateTime), 5, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ActiveJobs] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [CompanyName], [CompanyType], [CompanyDesc], [Status], [DepartName], [City], [CompanyNo]) VALUES (1, N'河南厚溥有限公司', N'互联网信息服务', N'NET190901', NULL, NULL, N'郑州', N'2019')
INSERT [dbo].[Company] ([CompanyID], [CompanyName], [CompanyType], [CompanyDesc], [Status], [DepartName], [City], [CompanyNo]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Company] ([CompanyID], [CompanyName], [CompanyType], [CompanyDesc], [Status], [DepartName], [City], [CompanyNo]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Dictionary] ON 

INSERT [dbo].[Dictionary] ([ID], [Name], [Value], [Type], [Status], [ParentID]) VALUES (1, N'NET', N'NET', N'方向', NULL, NULL)
INSERT [dbo].[Dictionary] ([ID], [Name], [Value], [Type], [Status], [ParentID]) VALUES (2, N'Java', N'Java', N'方向', NULL, NULL)
INSERT [dbo].[Dictionary] ([ID], [Name], [Value], [Type], [Status], [ParentID]) VALUES (3, N'网销', N'网销', N'方向', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Dictionary] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionID], [SurveyID], [PositionName], [PositionType], [PositionDesc], [Status], [CompanyID], [Source]) VALUES (1, 2, N'NET工程师', N'NET', N'.NET工程师', NULL, NULL, NULL)
INSERT [dbo].[Position] ([PositionID], [SurveyID], [PositionName], [PositionType], [PositionDesc], [Status], [CompanyID], [Source]) VALUES (2, 3, N'NET工程师', N'NET', N'.NET工程师', NULL, NULL, NULL)
INSERT [dbo].[Position] ([PositionID], [SurveyID], [PositionName], [PositionType], [PositionDesc], [Status], [CompanyID], [Source]) VALUES (3, 4, N'NET工程师', N'NET', N'.NET工程师', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectID], [SurveyID], [ProjectName], [ProjectType], [ProjectTypeID], [ProjectDesc], [BeginTime], [EndTime]) VALUES (1, 3, N'物流管理系统', N'物流', 1, N'第一个项目', CAST(N'2019-11-14 19:46:32.470' AS DateTime), CAST(N'2019-11-14 19:46:32.470' AS DateTime))
INSERT [dbo].[Project] ([ProjectID], [SurveyID], [ProjectName], [ProjectType], [ProjectTypeID], [ProjectDesc], [BeginTime], [EndTime]) VALUES (2, 4, N'物流管理系统', N'物流', 1, N'第一个项目', CAST(N'2019-11-14 19:52:49.563' AS DateTime), CAST(N'2019-11-14 19:52:49.563' AS DateTime))
INSERT [dbo].[Project] ([ProjectID], [SurveyID], [ProjectName], [ProjectType], [ProjectTypeID], [ProjectDesc], [BeginTime], [EndTime]) VALUES (3, 5, N'物流管理系统', N'物流', 1, N'第一个项目', CAST(N'2019-11-14 19:55:46.133' AS DateTime), CAST(N'2019-11-14 19:55:46.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StuNo], [StuName], [ClassNo], [City], [Phone], [Address], [WagesOfPeriod], [WagesOfFull], [WagesOfReal], [Status], [CreateTime], [AlterTime], [CurrentCompanyNo], [Year], [Batch]) VALUES (1, N'王瑞祥', NULL, N'北京', N'17700611332', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2019, N'NET190901')
INSERT [dbo].[Student] ([StuNo], [StuName], [ClassNo], [City], [Phone], [Address], [WagesOfPeriod], [WagesOfFull], [WagesOfReal], [Status], [CreateTime], [AlterTime], [CurrentCompanyNo], [Year], [Batch]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Student] ([StuNo], [StuName], [ClassNo], [City], [Phone], [Address], [WagesOfPeriod], [WagesOfFull], [WagesOfReal], [Status], [CreateTime], [AlterTime], [CurrentCompanyNo], [Year], [Batch]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[SurveyModel] ON 

INSERT [dbo].[SurveyModel] ([SurveyID], [SurveyTickNumber], [StuNo], [CompanyID], [StuName], [CompanyNo], [WagesOfPeriod], [WagesOfFull], [WagesOfReal], [Status], [CreateTime], [Year], [Batch], [Direction], [ProjectName], [Phone], [CorworkPhone], [PositionName], [AuditName], [AuditStatus], [School], [DepartName]) VALUES (1, N'123456', 1, 1, N'张三', NULL, CAST(321 AS Decimal(18, 0)), CAST(123 AS Decimal(18, 0)), CAST(333 AS Decimal(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SurveyModel] ([SurveyID], [SurveyTickNumber], [StuNo], [CompanyID], [StuName], [CompanyNo], [WagesOfPeriod], [WagesOfFull], [WagesOfReal], [Status], [CreateTime], [Year], [Batch], [Direction], [ProjectName], [Phone], [CorworkPhone], [PositionName], [AuditName], [AuditStatus], [School], [DepartName]) VALUES (2, N'123456', 1, 1, N'李四', NULL, CAST(321 AS Decimal(18, 0)), CAST(123 AS Decimal(18, 0)), CAST(333 AS Decimal(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SurveyModel] ([SurveyID], [SurveyTickNumber], [StuNo], [CompanyID], [StuName], [CompanyNo], [WagesOfPeriod], [WagesOfFull], [WagesOfReal], [Status], [CreateTime], [Year], [Batch], [Direction], [ProjectName], [Phone], [CorworkPhone], [PositionName], [AuditName], [AuditStatus], [School], [DepartName]) VALUES (3, N'123456', 1, 1, N'王五', NULL, CAST(321 AS Decimal(18, 0)), CAST(123 AS Decimal(18, 0)), CAST(333 AS Decimal(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SurveyModel] OFF
ALTER TABLE [dbo].[ActiveJobs]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVEJO_REFERENCE_SURVEY] FOREIGN KEY([SurveyID])
REFERENCES [dbo].[SurveyModel] ([SurveyID])
GO
ALTER TABLE [dbo].[ActiveJobs] CHECK CONSTRAINT [FK_ACTIVEJO_REFERENCE_SURVEY]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTME_REFERENCE_USERS] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_DEPARTME_REFERENCE_USERS]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_POSITION_REFERENCE_SURVEY] FOREIGN KEY([SurveyID])
REFERENCES [dbo].[SurveyModel] ([SurveyID])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_POSITION_REFERENCE_SURVEY]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_REFERENCE_SURVEY] FOREIGN KEY([SurveyID])
REFERENCES [dbo].[SurveyModel] ([SurveyID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_PROJECT_REFERENCE_SURVEY]
GO
ALTER TABLE [dbo].[RoleMenus]  WITH CHECK ADD  CONSTRAINT [FK_ROLEMENU_REFERENCE_MENUS] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menus] ([MenuID])
GO
ALTER TABLE [dbo].[RoleMenus] CHECK CONSTRAINT [FK_ROLEMENU_REFERENCE_MENUS]
GO
ALTER TABLE [dbo].[RoleMenus]  WITH CHECK ADD  CONSTRAINT [FK_ROLEMENU_REFERENCE_ROLES] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RoleMenus] CHECK CONSTRAINT [FK_ROLEMENU_REFERENCE_ROLES]
GO
ALTER TABLE [dbo].[SkillTags]  WITH CHECK ADD  CONSTRAINT [FK_SKILLTAG_REFERENCE_POSITION] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Position] ([PositionID])
GO
ALTER TABLE [dbo].[SkillTags] CHECK CONSTRAINT [FK_SKILLTAG_REFERENCE_POSITION]
GO
ALTER TABLE [dbo].[SkillTags]  WITH CHECK ADD  CONSTRAINT [FK_SKILLTAG_REFERENCE_SKILLTAG] FOREIGN KEY([TagID])
REFERENCES [dbo].[SkillTag] ([TagID])
GO
ALTER TABLE [dbo].[SkillTags] CHECK CONSTRAINT [FK_SKILLTAG_REFERENCE_SKILLTAG]
GO
ALTER TABLE [dbo].[StudentTags]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTT_REFERENCE_SKILLTAG] FOREIGN KEY([TagID])
REFERENCES [dbo].[SkillTag] ([TagID])
GO
ALTER TABLE [dbo].[StudentTags] CHECK CONSTRAINT [FK_STUDENTT_REFERENCE_SKILLTAG]
GO
ALTER TABLE [dbo].[StudentTags]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTT_REFERENCE_STUDENT] FOREIGN KEY([StuNo])
REFERENCES [dbo].[Student] ([StuNo])
GO
ALTER TABLE [dbo].[StudentTags] CHECK CONSTRAINT [FK_STUDENTT_REFERENCE_STUDENT]
GO
ALTER TABLE [dbo].[SurveyModel]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_REFERENCE_COMPANY] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[SurveyModel] CHECK CONSTRAINT [FK_SURVEY_REFERENCE_COMPANY]
GO
ALTER TABLE [dbo].[SurveyModel]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_REFERENCE_STUDENT] FOREIGN KEY([StuNo])
REFERENCES [dbo].[Student] ([StuNo])
GO
ALTER TABLE [dbo].[SurveyModel] CHECK CONSTRAINT [FK_SURVEY_REFERENCE_STUDENT]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_USERROLE_REFERENCE_ROLES] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_USERROLE_REFERENCE_ROLES]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_USERROLE_REFERENCE_USERS] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_USERROLE_REFERENCE_USERS]
GO
